h3{
    text-align: center;
    
}
h2{
    border-style: inset;
    text-align: center;
}
button {
  background-color: #9b25db;
  border: none;
  color: #100d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}